In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import skew,skewtest,norm
import scipy.stats as sta
from scipy.stats import boxcox
from wordcloud import WordCloud,STOPWORDS,ImageColorGenerator
from wordcloud import WordCloud
from mpl_toolkits.mplot3d import Axes3D
import seaborn as sns

In [4]:
df = pd.read_csv('synthetic_health_data.csv')
df.head()

,Age,BMI,Exercise_Frequency,Diet_Quality,Sleep_Hours,Smoking_Status,Alcohol_Consumption,Health_Score
0,45.960570,31.996777,5,55.403270,7.300359,0,2.834707,70.542122
1,38.340828,29.623168,6,41.838357,7.012419,1,7.199517,57.244637
2,47.772262,25.298152,5,76.904948,6.028641,1,4.097944,96.333722
3,58.276358,21.765316,2,49.756767,5.802714,1,3.649377,61.321783
4,37.190160,28.491117,2,44.218737,7.912548,0,2.839795,67.175894

In [5]:
df.shape

(1000, 8)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  1000 non-null   float64
 1   BMI                  1000 non-null   float64
 2   Exercise_Frequency   1000 non-null   int64
 3   Diet_Quality         1000 non-null   float64
 4   Sleep_Hours          1000 non-null   float64
 5   Smoking_Status       1000 non-null   int64
 6   Alcohol_Consumption  1000 non-null   float64
 7   Health_Score         1000 non-null   float64
dtypes: float64(6), int64(2)
memory usage: 62.6 KB

In [7]:
df.describe()

,Age,BMI,Exercise_Frequency,Diet_Quality,Sleep_Hours,Smoking_Status,Alcohol_Consumption,Health_Score
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,40.231985,25.354181,2.888000,69.952977,6.973135,0.499000,3.079377,85.479947
std,11.750591,4.987272,1.995354,14.972061,1.517218,0.500249,2.084564,13.633845
min,1.104792,10.298057,0.000000,19.907497,2.431107,0.000000,-3.592506,29.106017
25%,32.228916,21.968792,1.000000,59.945481,5.903351,0.000000,1.644111,76.430819
50%,40.303607,25.315386,3.000000,69.975151,6.990847,0.000000,3.064261,87.498996
75%,47.775327,28.644411,5.000000,80.527839,8.054595,1.000000,4.489293,99.762644
max,86.232778,40.965538,6.000000,110.265186,11.638962,1.000000,11.105100,100.000000

In [8]:
df['Age'].value_counts()

Age
45.960570    1
15.119317    1
42.377017    1
38.267675    1
33.116056    1
            ..
44.955177    1
33.235305    1
30.133355    1
42.924247    1
46.870993    1
Name: count, Length: 1000, dtype: int64

In [9]:
df['Age'].unique()

array([45.96056984, 38.34082839, 47.77226246, 58.27635828, 37.1901595 ,
       37.19035652, 58.95055379, 49.20921675, 34.36630737, 46.51072052,
       34.43898769, 34.41124296, 42.90354726, 17.04063706, 19.30098601,
       33.25254965, 27.84602656, 43.77096799, 29.10371109, 23.05235558,
       57.58778523, 37.29068439, 40.81033846, 22.90302177, 33.46740731,
       41.33107108, 26.18807707, 44.50837622, 32.79233572, 36.499675  ,
       32.77952065, 62.22733821, 39.8380333 , 27.30746885, 49.87053895,
       25.3498762 , 42.50636314, 16.48395851, 24.06176741, 42.36233483,
       48.86159896, 42.05641937, 38.61222061, 36.38675565, 22.25773612,
       31.3618695 , 34.47233475, 52.68546671, 44.12341947, 18.84351814,
       43.88900763, 35.37901264, 31.876936  , 47.34011547, 52.37199427,
       51.17536143, 29.92938972, 36.28945149, 43.97516118, 51.70654153,
       34.24990915, 37.77209228, 26.72398031, 25.64552051, 49.75030987,
       56.27488034, 39.13587854, 52.04239477, 44.3396323 , 32.25856294,
       44.33674727, 58.4564388 , 39.57008753, 58.77572387,  8.56305875,
       49.86283005, 41.04456482, 36.41191179, 41.10112932, 16.14917302,
       37.36393735, 44.28535086, 57.73472854, 33.78075738, 30.29807677,
       33.97891548, 50.98482541, 43.94501332, 33.64287755, 46.1592092 ,
       41.16493059, 51.62373989, 31.57536287, 36.06805424, 35.29470216,
       22.43782062, 43.55344332, 43.13266327, 40.06136148, 37.1849544 ,
       23.0155511 , 34.95225613, 35.8874258 , 30.37267277, 38.06457146,
       44.84861028, 62.63423081, 42.09493375, 43.09060469, 39.10664901,
       16.97474542, 39.68183349, 40.72276252, 69.55890535, 37.69166842,
       43.61856811, 39.58345876, 25.97586355, 53.71387377, 49.02319639,
       49.49238336, 29.08735054, 56.83353173, 23.17778725, 47.04228513,
       66.28546751, 28.1135641 , 33.20442724, 41.19581638, 33.95829215,
       21.39203883, 40.8227557 , 27.25235544, 45.68310917, 28.96690919,
       58.59921286, 30.60096049, 36.13526181, 49.76220661, 25.2296282 ,
       42.72951922, 55.68571305, 20.71020119, 42.2156063 , 43.11859353,
       49.38187446, 25.15659147, 24.15452064, 46.26329879, 43.56381608,
       43.0059142 , 44.15737851, 31.83970334, 42.78704437, 43.51686968,
       31.42778298, 62.38929413, 45.68599505, 25.70435803, 47.8786433 ,
       28.30381996, 49.44501524, 53.90314695, 30.15181218, 51.56051355,
       44.95337112, 49.86472192, 62.76151579, 37.05534261, 30.95516603,
       29.32582684, 30.21027658, 39.07477949, 44.0938237 , 43.32028959,
       49.92619899, 40.1560227 , 57.44240893, 36.824118  , 72.64203   ,
       47.50800817, 29.71410932, 27.14929002, 45.78966898, 37.31844658,
       48.56800593, 45.67885149, 39.12605305, 29.83847538, 21.8218333 ,
       34.64182058, 50.27678553, 42.56912493, 25.05113466, 42.07817111,
       44.62380856, 29.39371077, 41.84470127, 40.69850462, 26.28435643,
       44.29344832, 46.72941432, 52.99661492, 52.64562462, 23.46796758,
       28.74609952, 46.18042321, 46.16543141, 46.18057224, 86.23277789,
       46.85068613, 53.62678768, 51.44802116, 47.81669502, 36.21676906,
       49.10763065, 30.72609743, 37.15817672, 34.17563743, 40.98248967,
       67.7759028 , 17.59281769, 48.23512228, 20.64740955, 34.33681761,
       53.06740716, 40.77136023, 27.06706266, 31.41635549, 48.15517299,
       31.23560042, 42.59750307, 40.54686208, 32.18079583, 65.72732907,
       47.60702827, 15.69828896, 42.23745178, 32.05856242, 50.22920002,
       30.48975114, 38.6231627 , 46.05984735, 50.38906233, 25.59644312,
       35.98598517, 34.30065627, 32.16004921, 61.18545088, 44.85978053,
       24.86939255, 51.01434336, 65.46587436, 52.38958313, 21.76756041,
       34.18919113, 55.20293379, 31.50796641, 45.32583314, 49.29560864,
       28.87683434, 39.28569573,  1.10479192, 27.7073483 , 36.96918218,
       25.02660182, 59.58893565, 22.83830346, 34.71946616, 41.56888693,
       57.29527947, 22.76965419, 53.95796503, 40.12279673, 28.22189619,
       45.54524169, 42.38871635, 32.79739747, 40.83762502, 35.37623684,
       41.36220814, 47.94556809, 59.03220179, 25.14621401, 65.5964005 ,
       16.57494641, 38.17857886, 47.05980648, 43.37190241, 32.52760576,
       37.502533  , 34.08398878, 32.92762292, 50.19522516, 44.28418583,
       31.68508486, 50.79519851, 43.68759425, 49.75434543, 47.5555461 ,
       30.05205987, 33.27782752, 48.96752326, 47.32444319, 39.74918087,
       41.4079286 , 55.33197875, 32.90114333, 46.56516857, 37.57368817,
       37.38782556, 53.18532222, 49.90499619, 49.76211563, 55.66574569,
       40.2520461 , 48.18343566, 36.27679892, 43.88999623, 38.43828335,
       41.16395158, 47.14188431, 30.1813518 , 65.10864731, 27.92779142,
       25.42973665, 53.89733048, 49.49995233, 47.4894378 , 47.54014611,
       39.85303873, 29.23294754, 40.9096547 , 31.87405946, 51.7014368 ,
       38.23531142, 30.09403364, 36.1433699 , 44.95517745, 33.23530537,
       30.13335525, 42.92424654, 42.93959885, 33.9166819 , 34.34754033,
       42.78459925, 22.6229879 , 23.11043471, 31.37866934, 37.43863418,
       43.73089079, 57.7042746 , 50.29191548, 38.08073764, 39.77180551,
       27.96964762, 39.77784237, 36.53609633, 43.87262272, 30.07322868,
       46.23215817, 58.39286696, 38.69487822, 44.82054067, 48.2817279 ,
       35.18535434, 42.68910978, 40.15110881, 41.17211318, 30.72388259,
       40.29412209, 45.97597949, 57.41372329, 51.51124991, 65.83818949,
       30.79182925, 50.46784764, 42.20010407, 66.2776352 , 30.30042058,
       29.92333789, 32.80728825, 14.51325131, 33.69093974, 30.89040806,
       41.80472544, 44.10107171, 62.51405007, 51.40508606, 33.07715613,
       29.21902394, 45.90303006, 24.15720152, 61.97750519, 54.15328145,
       34.36989217, 19.44238565, 56.24646849, 38.62552186, 54.85379574,
       20.86686809, 32.80749972, 40.0629244 , 40.56376713, 34.59921434,
       47.47419919, 27.18855485, 38.29144618, 41.44354758, 46.17326601,
       48.53937854, 26.5042949 , 21.59062995, 55.33212186, 43.98776814,
       31.01816156, 58.61382371, 41.38809561, 54.15156621, 40.81022178,
       64.7289751 , 61.06409011, 37.01243022, 51.65885141, 47.7445114 ,
       56.42357869, 28.42091847, 48.23261752, 52.70109384, 18.89512616,
       25.80089785, 15.52921387, 36.76711799, 48.61050707, 58.02828463,
       40.88913737, 59.54338655, 23.4387825 , 19.55941073, 39.33342761,
       44.60878539, 39.60766302, 15.1906948 , 38.93055953, 24.34636599,
       48.03607059, 44.39917895, 28.72144256, 33.83359699, 27.28943774,
       39.24785083, 51.46170785, 28.17128744, 46.04855819, 33.63690858,
       30.48552601, 38.71563568, 27.57709213, 33.35620834, 25.62546529,
       63.57670159, 40.42316262, 31.6032939 , 42.56775893, 38.6520634 ,
       37.34836481, 47.3700004 , 49.09009252, 33.63398623, 33.09018111,
       36.69937963, 12.37694602, 21.81770725, 56.40249121, 59.73961256,
       37.01156753, 46.91868356, 43.73500185, 76.9465697 , 53.43489894,
       38.4649889 , 28.53351471, 20.72264416, 42.44156363, 30.92379106,
       22.93295548, 32.24112539, 27.02142396, 60.24569962, 50.57967708,
       39.9043283 , 57.75932967, 40.92841969, 29.66458958, 58.27748893,
       46.46692052, 27.55304615, 37.71593586, 29.49258096, 23.40640323,
       51.11413057, 62.91299969, 23.21718911, 46.75563084, 32.19228917,
       34.15449539, 32.89127291, 29.63211076, 40.58225954, 30.0285986 ,
       43.24548191, 39.39714269, 37.13262344, 29.10923606, 33.07874403,
       49.06469471, 46.01100625, 28.26933706, 41.19198767, 49.01664548,
       19.96713663, 46.52032231, 32.04851489, 46.84718402, 30.84089012,
       18.34141479, 20.46949075, 40.57701936, 43.11667002, 29.1482005 ,
       47.66310951, 20.06175925, 39.20704242, 25.4678056 , 32.17796671,
       40.56878406, 29.67503962, 35.38533347, 52.07551371, 33.07729757,
       50.02830534, 26.44351774, 46.35765013, 57.29882345, 10.340266  ,
       30.43725693, 46.92486553, 37.56345537, 44.45375048, 32.75217776,
       41.03907745, 38.13187318, 54.01338474, 43.05305012, 44.05123194,
       35.05747641, 34.14872531, 34.80930175, 44.73342571, 34.94818623,
       43.47729828, 64.90480958, 50.45349644, 36.08771761, 54.41456707,
       35.10309552, 15.54250558, 27.90296427, 17.55049695, 35.78183819,
       40.22102055, 60.11724775, 43.92312849, 37.37079365, 49.95286697,
       13.46637629, 42.8273747 , 49.25038233, 22.25696505, 53.72504852,
       44.06195689, 35.01654503, 47.59338239, 67.24831429, 42.18239506,
       42.97864704, 34.48766921, 29.80186757, 49.9640298 , 29.72699409,
       40.85879485, 34.26811064, 45.74775791, 44.00394526, 52.45047933,
       33.87980321, 36.76150078, 28.25483541, 34.66848088, 44.52760592,
       49.0838634 , 28.93401611, 50.43527104, 56.26765431, 44.96121884,
       62.52154975, 30.71452961, 25.06414356, 18.65535701, 57.95253174,
       47.85238788, 39.33298395, 43.35962352, 26.49413143, 69.34902376,
       41.55065418, 41.31273754, 48.70919949, 45.77211078, 42.68660829,
       30.51430653, 45.65762029, 62.58429396, 56.14504055, 59.11823952,
       33.86541188, 28.12474216, 38.49055696, 40.66869895, 53.13029822,
       19.69042444, 58.35460383, 38.10390522, 34.87742716, 27.8547475 ,
       20.14171994, 49.87804701, 40.87981561, 24.5204692 , 24.45905474,
       35.97058361, 60.0282583 , 36.88490378, 21.96228456, 37.05108323,
       36.72731716,  7.63736028, 39.3484616 , 37.22878564, 48.35447638,
       62.18747314, 53.51878035, 36.77333571, 26.7216891 , 70.88031764,
       40.71062121, 40.1671515 , 39.71049895, 42.37701713, 38.26767506,
       33.11605592, 33.43769271, 39.60696076, 33.47890275, 31.44585061,
       41.27716273, 36.94027339, 58.04791586,  8.1883623 , 53.09808222,
       54.95302231, 15.11931721, 35.88774887, 35.54270961, 23.10985966,
       30.66619975, 26.67308985, 61.02724532, 51.22814072, 55.25866114,
       48.66006477, 26.45137875, 33.7057568 , 45.87249473, 25.33446629,
       48.55598116, 37.11609522, 35.50215031, 48.53151962, 45.33115974,
       35.66840601, 53.91195764, 27.02724007, 47.39122728, 47.1172151 ,
       36.28544273, 43.91359627, 24.98663708, 51.08832423, 37.78117436,
       33.72732375, 52.58811071, 31.54787571, 23.09846444, 21.32044992,
       47.27211942, 24.63484777, 61.05753018, 15.01684711, 60.35747642,
       42.53220961, 38.83944266, 33.46097096, 44.78963337, 39.54838357,
       53.23962258, 41.37073178, 41.80362114, 35.63665345, 39.31665252,
       43.69362123, 19.47797929, 23.82177493, 48.91916913, 42.05038526,
       37.79219996, 40.2212072 , 44.17098046, 33.52288384, 30.6603433 ,
       42.35014306, 28.25952667, 44.89903307, 19.56899675, 52.34986765,
       45.67116979, 43.07235681, 51.79229181, 59.98569333, 52.17244078,
       17.90950922, 24.6450764 , 32.50217707, 40.3130926 , 46.21190825,
       31.29107424, 42.24120117, 30.93540481, 32.66178636, 23.12006684,
       28.92120105, 23.77978473, 28.28952096, 52.64370156, 28.60721333,
       71.58858478, 45.91981481, 42.21803348, 29.69970664, 48.40371855,
       33.09234609, 41.46411778, 70.72101446, 38.8472812 , 53.79127992,
       31.5618829 , 39.58013811, 61.24960763, 32.47639531, 61.7493827 ,
       48.49302323, 33.25039869, 47.58889287, 51.6706534 , 47.46171955,
       21.15730336, 31.27435389, 37.02977637, 39.10679885, 47.44806517,
       42.13241201, 23.9758677 , 44.56237421, 47.32702894, 46.71748538,
       52.96936871, 50.00706585, 45.51016095, 39.15801146, 20.0684688 ,
       45.15541863, 42.49225225, 43.25894605, 24.67901709, 27.02732152,
       52.63783424, 39.52533815, 48.17800837, 40.33982051, 40.35707367,
       51.25940567, 33.80746326, 41.15344932, 34.45269654, 34.78604527,
       36.28993452, 42.66560526, 34.25501654, 55.06907351, 29.26471237,
       37.75754027, 34.7232273 , 57.36373461, 42.35865732, 52.38213447,
       22.17327552, 43.20460319, 50.67556955, 40.98740787, 52.7857645 ,
       33.7925386 , 56.91216928, 67.58677748, 35.64593727, 34.65396974,
       57.44061373, 58.95486575, 33.72567967, 34.95775819, 36.61858469,
       23.86659387, 28.97617664, 27.9503108 , 30.78642922, 39.58378135,
       42.81057679, 58.60600591, 28.01975151, 51.81186878, 37.43213387,
       39.40643548, 48.09783391, 26.52733574, 44.58891695, 41.9974265 ,
       45.90941517, 43.47002373, 69.46360168, 32.34712019, 33.62803654,
       32.52231368, 33.33427457, 32.35135447, 54.26819837, 57.04605098,
       33.15104448, 30.01173312, 45.65698668, 33.37332347, 47.59518181,
       42.43507625, 21.81107062, 58.57006242, 61.55053208, 32.64653571,
       35.34758128, 43.43038469, 44.01348148, 47.90253127, 64.12245447,
       37.87663327, 30.42043307, 23.44816926, 31.22883952, 39.60247633,
       61.53469436, 33.78866441, 42.68545542, 39.80292525, 54.26071928,
       70.32318911, 33.62957472, 34.12672669, 52.52993052, 48.18269788,
       62.16048791, 47.00713822, 35.68849491, 47.08785797, 53.30444297,
       49.84578617, 46.08728837, 52.80009628, 54.03154709, 56.58590789,
       47.78451865, 37.99458304, 41.76056424, 54.4781076 , 30.19677195,
       44.42407971, 35.27993425, 40.34493788, 55.34142235, 42.29318882,
       40.55723858, 23.68172631, 48.95504279, 47.74581017, 65.95905668,
       36.30666118, 42.62980393, 42.9926042 , 58.92943936, 38.85645361,
       43.34825831, 47.29475812, 42.23930948, 34.64279663, 42.32907991,
       52.883581  , 27.68181641, 41.59563609, 31.59855022, 54.34055955,
       21.72175714, 33.29293783, 44.5265425 , 58.78628835, 39.21099687,
       33.33760568, 62.57388483, 22.6238332 , 13.61432852, 45.2801734 ,
       33.97534931, 27.74520619, 48.50027737, 42.92560857, 33.23105643,
       24.63634722, 50.46948794, 47.80241414, 38.80988963, 62.15964395,
       27.1589828 , 21.69369795, 31.69710316, 39.4529678 , 42.92007339,
       37.10516731, 44.22466476, 24.98152691, 57.32517525, 39.01418586,
       53.40754998, 44.11270416, 45.48103863, 46.83720736, 45.37250272,
       47.71267312, 55.94983036, 42.35825404, 48.50804509, 38.92317167,
       57.28140659, 31.88329238, 61.61128519, 39.51810459, 22.83069877,
       41.53725298, 31.82738011, 50.08772259, 32.16851225, 34.6457988 ,
       17.32551123, 34.57232417, 10.91344808, 20.99316612, 49.12497587,
       49.4296019 , 45.10549074, 28.39628628, 39.42746373, 39.95676953,
       26.09962373, 58.04077962, 50.52834749, 37.34842991, 40.32263007,
       42.5005937 , 15.49918158, 37.03387141, 31.81618902, 27.98055988,
       36.62679649, 61.57223832, 47.69011434, 33.14585212, 46.87099338])

In [10]:
df[df['Age'] < 10]

,Age,BMI,Exercise_Frequency,Diet_Quality,Sleep_Hours,Smoking_Status,Alcohol_Consumption,Health_Score
74,8.563059,29.981334,4,58.494737,5.340071,1,6.875109,75.680496
262,1.104792,27.693780,1,66.930674,7.193401,0,1.976643,100.000000
646,7.637360,24.064279,3,53.206664,5.705448,0,6.480529,82.418033
668,8.188362,29.203100,6,79.811584,5.812923,1,1.879536,97.376695

In [11]:
df.describe()

,Age,BMI,Exercise_Frequency,Diet_Quality,Sleep_Hours,Smoking_Status,Alcohol_Consumption,Health_Score
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,40.231985,25.354181,2.888000,69.952977,6.973135,0.499000,3.079377,85.479947
std,11.750591,4.987272,1.995354,14.972061,1.517218,0.500249,2.084564,13.633845
min,1.104792,10.298057,0.000000,19.907497,2.431107,0.000000,-3.592506,29.106017
25%,32.228916,21.968792,1.000000,59.945481,5.903351,0.000000,1.644111,76.430819
50%,40.303607,25.315386,3.000000,69.975151,6.990847,0.000000,3.064261,87.498996
75%,47.775327,28.644411,5.000000,80.527839,8.054595,1.000000,4.489293,99.762644
max,86.232778,40.965538,6.000000,110.265186,11.638962,1.000000,11.105100,100.000000

In [12]:
df.loc[df['Age'] < 10,'Alcohol_Consumption'] = 0

In [13]:
df[df['Age'] < 10]

,Age,BMI,Exercise_Frequency,Diet_Quality,Sleep_Hours,Smoking_Status,Alcohol_Consumption,Health_Score
74,8.563059,29.981334,4,58.494737,5.340071,1,0.0,75.680496
262,1.104792,27.693780,1,66.930674,7.193401,0,0.0,100.000000
646,7.637360,24.064279,3,53.206664,5.705448,0,0.0,82.418033
668,8.188362,29.203100,6,79.811584,5.812923,1,0.0,97.376695

In [14]:
df['Alcohol_Consumption'] = df['Alcohol_Consumption'].apply(lambda x:np.nan if x < 0 else x)
df['Alcohol_Consumption'] = df['Alcohol_Consumption'].fillna(df['Alcohol_Consumption'].mean())

In [15]:
df['Sleep_Hours'] = df['Sleep_Hours'].apply(lambda x: np.nan if x < 4 else x)
df['Sleep_Hours'] = df['Sleep_Hours'].fillna(df['Sleep_Hours'].mean())

In [16]:
df.describe()

,Age,BMI,Exercise_Frequency,Diet_Quality,Sleep_Hours,Smoking_Status,Alcohol_Consumption,Health_Score
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,40.231985,25.354181,2.888000,69.952977,7.052633,0.499000,3.359072,85.479947
std,11.750591,4.987272,1.995354,14.972061,1.419919,0.500249,1.772940,13.633845
min,1.104792,10.298057,0.000000,19.907497,4.016441,0.000000,0.000000,29.106017
25%,32.228916,21.968792,1.000000,59.945481,6.033116,0.000000,2.022035,76.430819
50%,40.303607,25.315386,3.000000,69.975151,7.052633,0.000000,3.359072,87.498996
75%,47.775327,28.644411,5.000000,80.527839,8.054595,1.000000,4.479008,99.762644
max,86.232778,40.965538,6.000000,110.265186,11.638962,1.000000,11.105100,100.000000

In [17]:
from scipy.stats import zscore
z = np.abs(zscore(df))
df1 = df[(z<3).all(axis=1)]
df = df1.copy()

In [18]:
df.skew()

Age                    0.084664
BMI                   -0.072403
Exercise_Frequency     0.053775
Diet_Quality          -0.083352
Sleep_Hours            0.119671
Smoking_Status         0.000000
Alcohol_Consumption    0.367291
Health_Score          -0.672893
dtype: float64

In [19]:
df.corr(numeric_only=True).abs()['Health_Score'].sort_values(ascending=False)

Health_Score           1.000000
Diet_Quality           0.686236
BMI                    0.395146
Exercise_Frequency     0.233290
Sleep_Hours            0.222848
Age                    0.167195
Smoking_Status         0.107297
Alcohol_Consumption    0.098033
Name: Health_Score, dtype: float64

In [20]:
df['Diet_Quality'] = np.sqrt(df['Diet_Quality'])
df['Diet_Quality'].skew()

-0.4030065556226134

In [21]:
X = df.drop(['Health_Score'],axis=1)
Y = df['Health_Score']

In [22]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

X = sc.fit_transform(X)

In [23]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

In [24]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [25]:
def evaluate_model(true,predicted):
    mae = mean_absolute_error(true,predicted)
    mse = mean_squared_error(true,predicted)
    r2score = r2_score(true,predicted)
    rmse = np.sqrt(mean_squared_error(true,predicted))
    return mae,mse,r2score,rmse

In [26]:
models = {
    "Linear Regression":LinearRegression(),
    "Lasso":Lasso(),
    "Ridge":Ridge(),
    "k-Neighbors":KNeighborsRegressor(),
    "Decision Tree":DecisionTreeRegressor(),
    "Random Forest":RandomForestRegressor(),
    "Adaboost Regressor":AdaBoostRegressor()
}

In [27]:
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(x_train,y_train)
    y_pred_train = model.predict(x_train)
    y_pred_test = model.predict(x_test)

    mae_model_train,mse_model_train,r2score_model_train,rmse_model_train = evaluate_model(y_train,y_pred_train)
    mae_model_test,mse_model_test,r2score_model_test,rmse_model_test = evaluate_model(y_test,y_pred_test)

    print(list(models.keys())[i])
    print('Model Performance on Trainig Data')
    print('-Root Mean Squared Error:{:.4f}'.format(rmse_model_train))
    print('-Mean Absolute Error:{:.4f}'.format(mae_model_train))
    print('-R2 Score:{:.4f}'.format(r2score_model_train))
    print('Mean Squared Error:{:.4f}'.format(mse_model_train))

    print('-----------------------------')

    print('Model Performance on Testing Data')
    print('-Root Mean Squared Error:{:.4f}'.format(rmse_model_test))
    print('-Mean Absolute Error:{:.4f}'.format(mae_model_test))
    print('-R2 Score:{:.4f}'.format(r2score_model_test))
    print('Mean Squared Error:{:.4f}'.format(mse_model_test))
    cal = pd.DataFrame(np.c_[y_test,y_pred_test],columns=['Actual Balance','Predicted Balance'])
    print(cal)

    print('='*35)
    print('\n')

Linear Regression
Model Performance on Trainig Data
-Root Mean Squared Error:5.5362
-Mean Absolute Error:4.3963
-R2 Score:0.8196
Mean Squared Error:30.6494
-----------------------------
Model Performance on Testing Data
-Root Mean Squared Error:5.8759
-Mean Absolute Error:4.3965
-R2 Score:0.8047
Mean Squared Error:34.5262
     Actual Balance  Predicted Balance
0        100.000000          94.331733
1         86.120232          86.175484
2         81.089642          79.614115
3         75.804246          75.100670
4         76.018992          76.384021
..              ...                ...
191      100.000000          89.218789
192       88.877711          86.473135
193       90.550372          91.753172
194       68.181939          65.486874
195       78.714475          83.143733

[196 rows x 2 columns]
===================================


Lasso
Model Performance on Trainig Data
-Root Mean Squared Error:6.1986
-Mean Absolute Error:4.8884
-R2 Score:0.7739
Mean Squared Error:38.4232
-----------------------------
Model Performance on Testing Data
-Root Mean Squared Error:6.6721
-Mean Absolute Error:5.1360
-R2 Score:0.7482
Mean Squared Error:44.5175
     Actual Balance  Predicted Balance
0        100.000000          90.327524
1         86.120232          85.206078
2         81.089642          80.885586
3         75.804246          79.137508
4         76.018992          79.400920
..              ...                ...
191      100.000000          91.685720
192       88.877711          85.748415
193       90.550372          89.429633
194       68.181939          67.999658
195       78.714475          81.942035

[196 rows x 2 columns]
===================================


Ridge
Model Performance on Trainig Data
-Root Mean Squared Error:5.5362
-Mean Absolute Error:4.3971
-R2 Score:0.8196
Mean Squared Error:30.6496
-----------------------------
Model Performance on Testing Data
-Root Mean Squared Error:5.8784
-Mean Absolute Error:4.3982
-R2 Score:0.8045
Mean Squared Error:34.5551
     Actual Balance  Predicted Balance
0        100.000000          94.318711
1         86.120232          86.174545
2         81.089642          79.621411
3         75.804246          75.117981
4         76.018992          76.397898
..              ...                ...
191      100.000000          89.217450
192       88.877711          86.472070
193       90.550372          91.744884
194       68.181939          65.512752
195       78.714475          83.146150

[196 rows x 2 columns]
===================================


k-Neighbors
Model Performance on Trainig Data
-Root Mean Squared Error:5.4569
-Mean Absolute Error:4.1527
-R2 Score:0.8248
Mean Squared Error:29.7782
-----------------------------
Model Performance on Testing Data
-Root Mean Squared Error:7.2303
-Mean Absolute Error:5.4133
-R2 Score:0.7043
Mean Squared Error:52.2777
     Actual Balance  Predicted Balance
0        100.000000          95.284498
1         86.120232          80.974659
2         81.089642          80.652218
3         75.804246          74.939978
4         76.018992          79.821262
..              ...                ...
191      100.000000          88.352860
192       88.877711          86.723466
193       90.550372          92.356823
194       68.181939          78.059800
195       78.714475          81.969334

[196 rows x 2 columns]
===================================


Decision Tree
Model Performance on Trainig Data
-Root Mean Squared Error:0.0000
-Mean Absolute Error:0.0000
-R2 Score:1.0000
Mean Squared Error:0.0000
-----------------------------
Model Performance on Testing Data
-Root Mean Squared Error:8.4880
-Mean Absolute Error:6.0643
-R2 Score:0.5924
Mean Squared Error:72.0461
     Actual Balance  Predicted Balance
0        100.000000          85.987598
1         86.120232          80.315914
2         81.089642          81.467616
3         75.804246          69.864519
4         76.018992          87.891396
..              ...                ...
191      100.000000         100.000000
192       88.877711          93.099952
193       90.550372          87.999202
194       68.181939          60.903078
195       78.714475          83.657162

[196 rows x 2 columns]
===================================

Random Forest
Model Performance on Trainig Data
-Root Mean Squared Error:2.3109
-Mean Absolute Error:1.7332
-R2 Score:0.9686
Mean Squared Error:5.3403
-----------------------------
Model Performance on Testing Data
-Root Mean Squared Error:6.3507
-Mean Absolute Error:4.7426
-R2 Score:0.7718
Mean Squared Error:40.3318
     Actual Balance  Predicted Balance
0        100.000000          93.757715
1         86.120232          86.601570
2         81.089642          81.439216
3         75.804246          81.174511
4         76.018992          77.192739
..              ...                ...
191      100.000000          98.546069
192       88.877711          87.230961
193       90.550372          90.995934
194       68.181939          65.844401
195       78.714475          82.709599

[196 rows x 2 columns]
===================================


Adaboost Regressor
Model Performance on Trainig Data
-Root Mean Squared Error:6.4278
-Mean Absolute Error:5.5937
-R2 Score:0.7569
Mean Squared Error:41.3171
-----------------------------
Model Performance on Testing Data
-Root Mean Squared Error:7.4187
-Mean Absolute Error:6.1300
-R2 Score:0.6886
Mean Squared Error:55.0369
     Actual Balance  Predicted Balance
0        100.000000          89.798915
1         86.120232          83.916732
2         81.089642          82.780881
3         75.804246          82.680979
4         76.018992          77.235367
..              ...                ...
191      100.000000          91.349036
192       88.877711          87.804081
193       90.550372          91.670643
194       68.181939          61.696501
195       78.714475          82.275628

[196 rows x 2 columns]
===================================

In [36]:
knn_params = {'n_neighbors':[x for x in range(1,200)]}
rf_params = {"max_depth":[5,8,15,25,30],
             "max_features":[5,7,'sqrt',8],
             "min_samples_split":[2,8,15,20],
             "n_estimators":[100,200,500,1000]
            }
dt_params = {"max_depth":[5,8,15,25,30],
            "max_features":[5,7,'sqrt',8],
            "min_samples_split":[2,8,15,20],
            "min_samples_leaf":[2,6,13,17,20]
            }
ada_params = {
            "n_estimators":[50,60,70,80],
            "loss":['linear','square','exponential']
            }

In [37]:
randomcv_models = [('KNN',KNeighborsRegressor(),knn_params),
                   ('RF',RandomForestRegressor(),rf_params),
                   ('DT',DecisionTreeRegressor(),dt_params),
                   ('Adaboost',AdaBoostRegressor(),ada_params)
                ]

In [38]:
from sklearn.model_selection import RandomizedSearchCV
model_params = {}
for name,model,param in randomcv_models:
    random = RandomizedSearchCV(estimator=model,param_distributions=param,verbose=2,cv=3,n_jobs=2,n_iter=10)
    random.fit(x_train,y_train)
    model_params[name] = random.best_params_
for model_name in model_params:
    print(f"-------------Best parmas for {model_name}-------------")
    print(model_params[model_name])

Fitting 3 folds for each of 10 candidates, totalling 30 fits
Fitting 3 folds for each of 10 candidates, totalling 30 fits
Fitting 3 folds for each of 10 candidates, totalling 30 fits
Fitting 3 folds for each of 10 candidates, totalling 30 fits
-------------Best parmas for KNN-------------
{'n_neighbors': 34}
-------------Best parmas for RF-------------
{'n_estimators': 500, 'min_samples_split': 2, 'max_features': 8, 'max_depth': 15}
-------------Best parmas for DT-------------
{'min_samples_split': 20, 'min_samples_leaf': 6, 'max_features': 5, 'max_depth': 25}
-------------Best parmas for Adaboost-------------
{'n_estimators': 80, 'loss': 'square'}

In [39]:
models = {
    "k-Neighbors":KNeighborsRegressor(n_neighbors=34),
    "Random Forest Regressor": RandomForestRegressor(n_estimators=500,min_samples_split=2,max_depth=8,max_features=15),
    "Decsion Tree Regressor":DecisionTreeRegressor(min_samples_split=20,min_samples_leaf=6,max_features=5,max_depth=25),
    "Adaboost Regressor": AdaBoostRegressor(n_estimators=80,loss='square')
}

In [40]:
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(x_train,y_train)

    y_pred_train = model.predict(x_train)
    y_pred_test = model.predict(x_test)

    mae_model_train,mse_model_train,r2score_model_train,rmse_model_train = evaluate_model(y_train,y_pred_train)
    mae_model_test,mse_model_test,r2score_model_test,rmse_model_test = evaluate_model(y_test,y_pred_test)

    print(list(models.keys())[i])
    print('Model Performance on Trainig Data')
    print('-Root Mean Squared Error:{:.4f}'.format(rmse_model_train))
    print('-Mean Absolute Error:{:.4f}'.format(mae_model_train))
    print('-R2 Score:{:.4f}'.format(r2score_model_train))
    print('Mean Squared Error:{:.4f}'.format(mse_model_train))

    print('-----------------------------')

    print('Model Performance on Testing Data')
    print('-Root Mean Squared Error:{:.4f}'.format(rmse_model_test))
    print('-Mean Absolute Error:{:.4f}'.format(mae_model_test))
    print('-R2 Score:{:.4f}'.format(r2score_model_test))
    print('Mean Squared Error:{:.4f}'.format(mse_model_test))
    cal = pd.DataFrame(np.c_[y_test,y_pred_test],columns=['Actual Balance','Predicted Balance'])
    print(cal)

    print('='*35)
    print('\n')

k-Neighbors
Model Performance on Trainig Data
-Root Mean Squared Error:6.8311
-Mean Absolute Error:5.4389
-R2 Score:0.7254
Mean Squared Error:46.6645
-----------------------------
Model Performance on Testing Data
-Root Mean Squared Error:8.0225
-Mean Absolute Error:6.1466
-R2 Score:0.6359
Mean Squared Error:64.3604
     Actual Balance  Predicted Balance
0        100.000000          93.371617
1         86.120232          86.679985
2         81.089642          82.389374
3         75.804246          81.191695
4         76.018992          82.474916
..              ...                ...
191      100.000000          89.656418
192       88.877711          89.782166
193       90.550372          91.700052
194       68.181939          73.935770
195       78.714475          84.260767

[196 rows x 2 columns]
===================================


Random Forest Regressor
Model Performance on Trainig Data
-Root Mean Squared Error:3.1755
-Mean Absolute Error:2.4446
-R2 Score:0.9407
Mean Squared Error:10.0836
-----------------------------
Model Performance on Testing Data
-Root Mean Squared Error:6.5093
-Mean Absolute Error:4.8808
-R2 Score:0.7603
Mean Squared Error:42.3712
     Actual Balance  Predicted Balance
0        100.000000          92.338453
1         86.120232          85.232377
2         81.089642          80.581323
3         75.804246          82.244132
4         76.018992          78.621355
..              ...                ...
191      100.000000          98.338226
192       88.877711          87.304441
193       90.550372          91.951481
194       68.181939          65.256757
195       78.714475          81.276919

[196 rows x 2 columns]
===================================


Decsion Tree Regressor
Model Performance on Trainig Data
-Root Mean Squared Error:5.9370
-Mean Absolute Error:4.3162
-R2 Score:0.7926
Mean Squared Error:35.2477
-----------------------------
Model Performance on Testing Data
-Root Mean Squared Error:8.0204
-Mean Absolute Error:6.0466
-R2 Score:0.6361
Mean Squared Error:64.3264
     Actual Balance  Predicted Balance
0        100.000000          81.925850
1         86.120232          80.498453
2         81.089642          74.086262
3         75.804246          85.822031
4         76.018992          76.032070
..              ...                ...
191      100.000000          95.429976
192       88.877711          81.925850
193       90.550372          91.328681
194       68.181939          57.495658
195       78.714475          80.498453

[196 rows x 2 columns]
===================================


Adaboost Regressor
Model Performance on Trainig Data
-Root Mean Squared Error:5.8137
-Mean Absolute Error:5.0451
-R2 Score:0.8011
Mean Squared Error:33.7988
-----------------------------
Model Performance on Testing Data
-Root Mean Squared Error:6.9796
-Mean Absolute Error:5.7697
-R2 Score:0.7244
Mean Squared Error:48.7147
     Actual Balance  Predicted Balance
0        100.000000          90.458757
1         86.120232          86.948960
2         81.089642          78.260547
3         75.804246          77.260105
4         76.018992          83.780289
..              ...                ...
191      100.000000          91.776643
192       88.877711          88.666078
193       90.550372          93.288826
194       68.181939          61.698582
195       78.714475          78.955913

[196 rows x 2 columns]
===================================

In [42]:
import pickle
from sklearn.ensemble import RandomForestRegressor

best_model = RandomForestRegressor(n_estimators=500,min_samples_split=2,max_depth=8,max_features=15)
best_model.fit(x_train, y_train)

# Save the model using pickle
with open('Synthetic_Health_model.pkl', 'wb') as file:
    pickle.dump(best_model, file)